body {
	font-family: arial,sans-serif;
	font-size: small;
}

li {
	display: inline;
}

.toolbar {
	float: right;
	padding: 0 30px;
	margin-top: 8px;

}

.toolbar li{
	position: relative;
	padding: 0 7px;
}

.toolbar a {
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}

#apps {
	background: url("../images/icons.png") 528px 68px;
	background-position: -132px -38px;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: relative;
	top: 10px;
	opacity: .55;
}

#sign-in {
	position: relative;
	border: 1px solid #4285f4;
	outline: none;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border-radius: 3px;
	padding: 7px 12px;
	margin-top: 40px;
}

#sign-in a{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.logo {
	position: relative;
	width: 272px;
	margin: 0 auto;
	padding-top: 200px;

}

.logo img {
	height: 92px;
    width: 272px;
}

.search {
	width: 1139px;
	position: relative;
	margin: 0 auto;
}

.search-container {
	width: 571px;
	position: relative;
	padding: 20px 284px 0 284px;
}

.search-bar {
	width: 571px;
	position: relative;
	background-color: #fff;
	height: 44px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

}

#voice {
	background: url("../images/voice.png") no-repeat 15px 10px;
	background-size: 24px 24px;
	height: 24px;
	width: 24px;
	position: relative;
	float: right;
	padding: 10px 15px
}

#text {
	padding: 5px 20px 0 20px;
	margin-right: 54px;
}

#text input {
	border: none;
	width: 490px;
	height: 37px;
	outline: none;
}

.search-buttons {
	padding-top: 25px;
	width: 571px;
	position: relative;
}

.search-buttons input {
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 9px 4px;
	padding: 0 16px;
	height: 36px;
	line-height: 27px;
}

.language {
	margin-top: 12px;
}

.language a {
	padding: 0 3px;
	text-decoration: none;
	color: #1a0dab;
}

.footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
}

.location {
	border-bottom: 1px solid #e4e4e4;

}

.location p {
	padding-left: 27px;
	font-size: 15px;
	color: rgba(0,0,0,.54);
}

.right-footer-nav {
	float: right;
	padding-right: 30px;
}

.left-footer-nav li {
	margin-left: 27px;
}

.right-footer-nav li {
	margin-left: 27px;
}

.right-footer-nav a {
	color: #666;
	text-decoration: none;
}

.left-footer-nav a {
	color: #666;
	text-decoration: none;
}


