* {
	font-family: arial,sans-serif;
	font-size: small;
}

li {
	display: inline;
}

.toolbar {
	float: right;
	min-width: 114px;

}

.toolbar ul{
	font-weight: bold;
}

.logo {
	position: relative;
	width: 272px;
	margin: 0 auto;
	padding-top: 109px;

}

.logo img {
	height: 92px;
    width: 272px;
}

.search {
	width: 1139px;
	position: relative;
	margin: 0 auto;
}

.search-container {
	width: 571px;
	position: relative;
	padding: 20px 284px 0 284px;
}

.search-bar {
	width: 584px;
	position: relative;
	background-color: #fff;
	height: 44px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

}

#voice {
	background: url("../images/voice.png") no-repeat 15px 10px;
	background-size: 24px 24px;
	height: 24px;
	width: 24px;
	position: relative;
	float: right;
	padding: 10px 15px
}

#text {
	padding: 5px 20px 0 20px;
	margin-right: 54px;
}

#text input {
	border: none;
	width: 490px;
	height: 37px;
	outline: none;
}


